<!DOCTYPE html>
<html>
  <head><meta charset="UTF-8" />
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="author" content="http://andrechou.com" />
<title>Sobre mim // André Chou</title>
    <!-- Fonts--><script src="https://use.typekit.net/joi6god.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- Styles--><link rel="stylesheet" href="/assets/css/main.css" />
    <!-- Javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <!-- Plugins-->
  </head>
  <body>
    <section>
      <nav class="nav-header container">
        <ul class="menu-inline section">
          <li class="-selected"> <a href="#">sobre mim</a></li>
          <li> <a href="#">projetos</a></li>
          <li><a href="#">artigos</a></li>
          <li><a href="#">contato</a></li>
        </ul>
      </nav>
    </section>
    <section class="section" id="sobremim">
      <div class="container"><img class="image-me" src="assets/img/me.png" alt="">
        <div class="columns">
          <div class="column is-9-desktop is-9-tablet">
            <h1 class="h2">sobre mim</h1>
            <p class="-large">Formado em Arquitetura e Urbanismo pela Faculdade de Arquitetura e Urbanismo da Universidade de São Paulo (FAUUSP).</p>
            <p class="-large">Trabalho com design gráfico desde 2010. Aprendi a programar em 2014 e desde então venho desenvolvendo produtos digitais para empresas e agências.</p>
            <p class="-large">Atendi clientes como Spotify, Nivea, Skol e Prefeitura de São Paulo.</p>
            <h3 class="-mt-6">Habilidades</h3>
            <div class="columns">
              <div class="column">
                <h4>UX Designer</h4>
                <p>Estruturar Arquitetura de Informação / Criar Interfaces e Protótipos Rápidos / Desenvolver pesquisa focada no usuário</p>
              </div>
              <div class="column">
                <h4>Designer Gráfico</h4>
                <p>Criar Marcas / Desenvolver materiais gráficos impressos e digitais</p>
              </div>
              <div class="column">
                <h4>Web Developer</h4>
                <p>Desenvolver Sites e Aplicativos / Front-end e Back-end</p>
              </div>
            </div>
          </div>
          <div class="column is-3-desktop is-3-tablet">
            <h4>Formação</h4>
            <p><strong>Arquiteto e Urbanista</strong>, graduado na Faculdade de Arquitetura e Urbanismo da Universidade de São Paulo</p>
            <h4>Idiomas</h4>
            <p><strong>Português</strong> | Nativo<br><strong>Inglês</strong> | Avançado<br><strong>Espanhol</strong> | Básico</p>
          </div>
        </div>
        <hr>
        <div class="columns">
          <div class="column">
            <h3 class="-mb-4">Experiências Profissionais</h3>
            <div class="card -mb-4">
              <h3 class="-title">Prefeitura de São Paulo</h3>
              <h5 class="-subtitle -light -mb-4">[jun/2016 - jan/2017]</h5>
              <div class="columns">
                <div class="column is-7 content">
                  <p>Inicialmente meu papel na Prefeitura foi fazer o novo site do HabitaSampa (antigo Habisp), um projeto do setor de habitação social que serviria como meio de comunicação para os cidadãos. Tive um prazo apertado de um mês para entender a plataforma, construir uma arquitetura de informação, fazer o layout e programar. Nesse tempo fiz uma pesquisa rápida de usuários com os funcionários internos para conhecer mais da realidade do projeto; organizei todas as informações que o site antigo tinha; construi uma nova estrutura para o site com um novo design, inclusive do logo, e finalizei a programação em Wordpress, facilitando a vida do gestor em adicionar e editar novos conteúdos.</p>
                  <figure><img src="assets/img/projects/habitasampa_site.png" alt=""><span>clique na imagem para ver o projeto</span></figure>
                  <p>A experiência de trabalhar numa máquina pública abre a mente para uma realidade precária de sistemas antigos com tecnologias defasadas e até abandonadas. Soma-se a alta rotatividade de profissionais de desenvolvimento que aumenta a complexidade de conectar os serviços internos. Com uma visão de designer, meu entendimento foi trazer a ligação entre programas com linguagens diferentes para uma única plataforma desenvolvida em Vue.js, um framework de Javascript que conversa via REST com qualquer tipo de sistema. Essa tecnologia nos permitiu integrar com sistemas em Python e em .NET, deixando o trabalho de back-end apenas aos desenvolvedores e eu, designer e front-end developer, com a parte do desenho do sistema para o usuário.</p>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js" type="text/javascript"></script>
                  <div id="app">
                    <div class="window">
                      <div class="window-header">Gerador de Formulários</div>
                      <div class="window-body -shadow-light">
                        <div class="field" v-for="form in parseForms">
                          <label :name="form.name">{{form.type}}</label>
                          <input :type="form.type" :name="form.name" :placeholder="form.placeholder" :value="form.value">
                        </div>
                      </div>
                    </div>
                    <div class="editor-code">
                      <div class="editor-header">Teste o editor</div>
                      <textarea class="-shadow-light" v-model="forms"></textarea>
                    </div>
                  </div>
                  <script>
                    var app = new Vue({
                      el: '#app',
                      data: {
                        message: 'Hello!',
                        forms: '[{"name": "test", "type": "text", "placeholder": "oi", "value": "tchau"}, {"name": "test2", "type": "text", "placeholder": "lalala", "value": "nanana"}]',
                        formsValid: '[{"name": "test", "type": "text", "placeholder": "oi", "value": "tchau"}]'
                      },
                      mounted: function() {
                        this.forms = JSON.stringify(JSON.parse(this.forms), undefined, 4);
                      },
                      computed: {
                        parseForms: function() {
                          try {
                            JSON.parse(this.forms);
                            } catch (e) {
                              return JSON.parse(this.formsValid);
                            }
                            return JSON.parse(this.forms);
                    
                        }
                      } 
                    })
                  </script>
                  <p>Minha última frente dentro da Prefeitura (que encerrou devido a troca de gestão) foi a estruturação de um guia de estilos front-end (exemplo) para serem usados pelos desenvolvedores. Isso facilitaria a vida deles e ao mesmo tempo manteria um padrão de design para as plataformas do sistema público. Como sistemas de formulários e gráficos tendem a ser complexo, eu parti de um template pago de front-end e customizei para adequar a identidade visual do HabitaSampa. Meu objetivo era construir um guia de uso, como o exemplo citado, para que os próprios desenvolvedores pudessem também criar suas telas de front-end sem a ajuda de um designer.</p>
                </div>
                <div class="column is-4 is-offset-1">
                  <h4 class="-mt-0">Atuação</h4>
                  <ul class="list">
                    <li>Desenvolvimento de uma plataforma colaborativa e aberta para discussão de projetos de leis para a cidade.</li>
                    <li>Desenvolvimento de um framework de front-end em Vue.js (JavaScript) para gestão de dados da prefeitura.</li>
                    <li>Implantação de metodologia de projetos para equipe técnica do HabitaSampa para desenvolvimento de novas plataformas.</li>
                  </ul>
                  <h4 class="-title -mt-4">Projetos desenvolvidos</h4>
                  <div class="card card-projeto -shadow-light"><img class="card-image" src="assets/img/projects/habitasampa_thumb.svg" alt="">
                    <h6>[ projeto ]</h6>
                    <h4>HabitaSampa</h4>
                  </div>
                  <div class="card card-projeto -shadow-light"><img class="card-image" src="assets/img/projects/sph_thumb.svg" alt="">
                    <h6>[ projeto ]</h6>
                    <h4>SPH</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="columns">
                <div class="column is-7">
                  <h4 class="-title">RCKT</h4>
                  <h5 class="-subtitle -light -mb-1">[jul/2014 - mai/2016]</h5>
                  <p>In RCKT, I participated in the entire development process of websites and mobile apps. From design to programming, creating layouts and style guides and using frameworks like Wordpress and Ionic. Furthermore, I worked on visual identity and stationary for different companies.</p>
                </div>
                <div class="column is-4 is-offset-1">
                  <h4>Atuação</h4>
                  <ul class="list">
                    <li>Front-end development using HTML, CSS, JS, JQuery, Sass and Bootstrap</li>
                    <li>Back-end development using PHP, AngularJS, Wordpress and Node.js</li>
                    <li>Mobile development using Ionic</li>
                    <li>Graphic design using Sketch, Illustrator, Photoshop and InDesign</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>