header
  .container
    .columns
      .column
        a.-black(href="/")
          i.graphic-14s
        ul.menu-header
          li
            a(href="/") home
          li
            a(href="/about.html") about me
          li
            a(href="/projects.html") projects
          li
            a(href="/contact.html") contact
      .column.is-one-third
        .icons-social
          a(href="https://www.behance.net/andreechou" target="_blank")
            i.i-behance
          a(href="https://www.linkedin.com/in/andreechou/" target="_blank")
            i.i-linkedin
          a(href="https://twitter.com/andreechou" target="_blank")
            i.i-twitter

      
