header
  a(href="/")
    i.graphic-14s
  ul.menu-header
    li
      a(href="/introduction.html") Introduction
    li
      a(href="/projects.html") Projects
    li
      a(href="/contact.html") Work Together?
