-var site_name = "André Chou"
-var site_title = "About"
-var page = "about"

doctype html
html
  head
    include parts/head
  body
    include parts/header

    section
      .container.content
        h2
          span.-light I’m 
          | designer 
          span.-light since 2010. I started as a 
          | graphic designer
          span.-light , going to 
          | web designer
          span.-light ,
          | full stack developer 
          span.-light and now 
          | UX designer.
        h3.-light I work for Spotify, Nivea, Skol and Prefeitura de São Paulo.
        h3.-light Follow me on 
          a(href="https://www.linkedin.com/in/andreechou/" target="_blank") LinkedIn
          |, 
          a(href="https://www.linkedin.com/in/andreechou/" target="_blank") Behance
          |  or 
          a(href="https://twitter.com/andreechou" target="_blank") Twitter
          | !
        p You can also see my 
          a(href="https://drive.google.com/file/d/0B1UfI3Gc5d6AVGVWVHo5Rmh3MGM/view?usp=sharing", target="_blank") curriculum vitae
          | .