-var site_name = "Mogno Capital"
-var site_title = "Projeto"

doctype html
html
  head
    include parts/head
  body

    section.section-height.section-flex
      nav.nav-header.container.-flex-child
        ul.menu-inline.section
          li 
            a(href="#") sobre mim
          li 
            a(href="#") projetos
          li
            a(href="#") artigos
          li
            a(href="#") contato
      .container.-flex-child.-flex-align-end.-pb-4
        .columns
          .column.is-half
            img.image-me(src="assets/img/me.png", alt="")
            h1.-mb-0 André Chou
            h4.-mt-0.-mb-0 Arquiteto, designer e desenvolvedor.
            p.-large Crio experiências ao usuário através da construção de marca, estratégia digital, prototipação e produtos digitais como sites e aplicativos.

    section.section#sobremim
      .container
        .icon-typography.h2 ∆
        h3 sobre mim
        p.-large Formado em Arquitetura e Urbanismo pela Faculdade de Arquitetura e Urbanismo da Universidade de São Paulo.
        p.-large Trabalho com design gráfico desde 2010. Aprendi a programar em 2014 e desde então venho desenvolvendo produtos digitais para empresas e agências.
        p.-large Atendi clientes como Spotify, Nivea, Skol e Prefeitura de São Paulo.
        h4
          a(href="#") ver mais &#62;
      

    section.section#projetos
      .container
        .icon-typography.h2 [ ]
        h3 projetos
        .columns.-mt-4.-mb-0
          .column
            .card.card-projetos
              a(href="http://www.habitasampa.inf.br/" target="_blank")
                img.img-centered(src="assets/img/logo-habitasampa.png", alt="")
          .column
            .card.card-projetos
              a(href="http://blocosderua.com/" target="_blank")
                img.img-centered(src="assets/img/logo-blocos.png", alt="")
          .column
            .card.card-projetos
              a(href="http://www.marcascomsal.com/" target="_blank")
                img.img-centered(src="assets/img/logo-sal.jpg", alt="")

    footer
      i.graphic-14s

