-var site_name = "UX Designer"
-var site_title = "André Chou"
-var page = "index"

doctype html
html
  head
    include parts/head
  body
    include parts/header

    section
      .container
        h1 Hi! 
          br
          span.-light My name is 
          | André Chou
          span.-light . I’m 
          | digital product designer 
          span.-light passionate about 
          | creating experiences for people.