-var site_name = "Mogno Capital"
-var site_title = "Projeto"

doctype html
html
  head
    include parts/head
  body
    nav.-mb-3
      .container
        ul.menu-inline.section
          li 
            a(href="#") sobre mim
          li 
            a(href="#") projetos
          li
            a(href="#") artigos
          li
            a(href="#") contato
    header
      .container
        i.graphic-14s
        h1.-mb-0 André Chou
        h4.-mt-0 Arquiteto, designer e desenvolvedor.
    .container.-mt-4
        


        main
          h2.-mt-0 Olá, eu sou o André
          p.p-lg Sou Arquiteto, Designer e Desenvolvedor. Crio experiências ao usuário através da construção de marca, estratégia digital, prototipação e produtos digitais como sites e aplicativos.
          p.p-lg Trabalho com design gráfico desde 2010. Aprendi a programar em 2014 e desde então venho desenvolvendo produtos digitais para empresas e agências.
          p.p-lg Atendi clientes como Spotify, Nivea, Skol e Prefeitura de São Paulo.
          h4.-mt-4 Alguns dos meus trabalhos
          .columns.-mt-4.-mb-0
            .column
              .card.-shadow
                a(href="http://www.habitasampa.inf.br/" target="_blank")
                  img.img-centered(src="assets/img/logo-habitasampa.png", alt="")
            .column
              .card.-shadow
                a(href="http://blocosderua.com/" target="_blank")
                  img.img-centered(src="assets/img/logo-blocos.png", alt="")
            .column
              .card.-shadow
                a(href="http://www.marcascomsal.com/" target="_blank")
                  img.img-centered(src="assets/img/logo-sal.jpg", alt="")


