-var site_name = "André Chou"
-var site_title = "Arquiteto, designer e desenvolvedor"

doctype html
html
  head
    include parts/head
  body

    section.section-centered
      .-centered-child
        h1 Obrigado pela mensagem! Espere um pouquinho que já entrarei em contato :)
        a(href="/") Voltar para o site


          


