-var site_name = "André Chou"
-var site_title = "Projects"
-var page = "index"

doctype html
html
  head
    include parts/head
  body
    include parts/header

    section
      .container.content
        h2 
          span.-light My favorite projects envolving user experience is 
          a(href="/projects/vistame.html") VistaMe
          span.-light , 
          a(href="/projects/banco-do-brasil.html") Banco do Brasil UX Challenge 
          span.-light and 
          a(href="/projects/arquigrafia.html") Arquigrafia
          span.-light . More projects on my 
          a(href="https://www.behance.net/andreechou" target="_blank") Behance
          span.-light .