-var site_name = "André Chou"
-var site_title = "Thanks"

doctype html
html
  head
    include parts/head
  body

    section.section-centered
      .-centered-child
        h1 Thanks for the message! I'll coming back soon :)
        a(href="/") Back to home


          


