-var site_name = "André Chou"
-var site_title = "Arquigrafia"

doctype html
html
  head
    include ../parts/head
  body

    include ../parts/header

    section
      .container.content
        img.img-logo(src="/assets/img/projects/arq-logo.svg", alt="")
        h1 Arquigrafia
        .columns
          .column.is-three-quarters
            p Arquigrafia is a platform for architecture photos. Our difference for other photo platforms is binomial system that input sight informations about photo and architecture.
            p This project started on USP in 2008 with a collaborative work between FAU (Architecture and Urbanism Faculty) and IME (Institute of Math and Statistic). I entered in this group in 2013 and I became lead designer helping to construct about future of project and that’s why my final work degree is about it.
            figure
              img(src="/assets/img/projects/arq-writing.jpg", alt="")
            p All my work is on the link 
              a(href="https://andrechou.000webhostapp.com/tfg/") here 
              | but I want to highlight some points.
            p First of all, I want to redefine user experience of this platform, creating new ways of interaction and navigation. I mapped all website and found problems of usability and architecture information.
            figure
              img(src="/assets/img/projects/arq-map.png", alt="")
            p To fix it, I rethink about how people search photos. A highlight for search by places that’s not exist on platform and is very important, mainly because it is about architecture.
            figure
              img(src="/assets/img/projects/arq-places.jpg", alt="")
            figure
              img(src="/assets/img/projects/arq-places2.png", alt="")
            p Another feature is accept other types of media like videos, texts, presentations and books. This gives a new meaning for platform to create a collection of architecture information.
            figure
              img(src="/assets/img/projects/arq-map2.gif", alt="")
            p Finally, I redesign a new vision of this project but it haven’t applied yet because of low investment of our government that was in crisis.
            p If you want to navigate on a prototype of this project, link here. More details about making of this work, link 
              a(href="https://andrechou.000webhostapp.com/tfg/") here
              | .

    include ../parts/footer