-var site_name = "André Chou"
-var site_title = "HabitaSampa"

doctype html
html
  head
    include ../parts/head
  body

    section
      nav.nav-header.container
        ul.menu-inline.section
          li
            a(href="#") sobre mim
          li.-selected 
            a(href="#") projetos
          li
            a(href="#") artigos
          li
            a(href="#") contato
    section.slide-up

    


      
